html, body{
  height: 100%;
}

.background {
  /* background: url("../img/background.jpg")no-repeat center center; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.container > iframe{
  /* position: absolute; */
  width: 50%;
  margin: auto;
  transform: translate(50%, -150%);
  z-index: 2;
}

#iframe-container {
  height: 0;
}

.navbar {
  font-family: 'Merriweather', serif;
  background-color: rgba(0,0,0,0.3);
}

.image-entity-label {
  font-weight: bold;
  font-size: 20px;
}
